* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto Mono', monospace;
}

button {
  height: 4em;
  min-width: 4em;
}

button p {
  font-size: 1.5em;
  margin: auto;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #666;
  border-radius: 2px;
  padding: 2em;
  margin: 1em;
  width: 50%;
}

.fake-timer-display {
  width: 0;
  height: 0;
}

.timer-display {
  font-size: 2em;
  font-weight: bold;
}

.timer-display p {
  margin: 1em auto;
  margin-top: 0;
  display: block;
}

.timer-controls {
  display: flex;
  flex-direction: row;
  min-width: 66%;
}

.timer-controls>* {
  flex: 1;
  flex-grow: auto;
}

.settings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.settings-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #666;
  border-radius: 2px;
  padding: 2em;
  margin: 1em;
  width: 33%;
}

.settings-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}

.settings-inputs>* {
  flex: 1;
  flex-grow: auto;
}

.settings-length {
  margin: 0 1em;
}

.settings-length p {
  margin: auto;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}