:root {
  --main-bg-color: #f4f1de;
  --secondary-bg-color: #f4f1de;
  --utility-color: #81b29a;
  --primary-bg-color: #e07a5f;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto Mono', monospace;
}

button {
  height: 4em;
  min-width: 4em;
  background-color: var(--utility-color);
  border: 2px solid var(--secondary-bg-color);
  border-radius: 3px;
}

button p {
  font-size: 1.5em;
  margin: auto;
  font-family: inherit;
  font-weight: bold;
  color: white;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--primary-bg-color)
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secondary-bg-color)
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
  margin: 1em;
  width: 50%;
  border: 2px solid var(--secondary-bg-color);
  border-radius: 4px;
}

.fake-timer-display {
  width: 0;
  height: 0;
}

.timer-display {
  font-size: 2em;
  font-weight: bold;
}

.timer-display p {
  margin: 1em auto;
  margin-top: 0;
  display: block;
}

.timer-controls {
  display: flex;
  flex-direction: row;
  min-width: 66%;
}

.timer-controls>* {
  flex: 1;
  flex-grow: auto;
}

.settings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.settings-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  padding: 2em;
  margin: 1em;
  width: 33%;
  border: 2px solid var(--secondary-bg-color);
}

.settings-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}

.settings-inputs>* {
  flex: 1;
  flex-grow: auto;
}

.settings-length {
  margin: 0 1em;
}

.settings-length p {
  margin: auto;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}